<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registracija Profila | Projekt Menadžer</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/07b5fd78cf.js" crossorigin="anonymous"></script>

    <!-- Sweet Alert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- Local Static Resources -->
    <!-- CSS -->
    <link rel="stylesheet" href="../../public/css/style.css">

    <!-- JS -->
    <script src="../../public/js/auth.js"></script>
    <script src="../../public/js/main.js"></script>
</head>
<body style="background-color: #ececec;">

<div class="container auth-container">
    <form class="auth-form" onsubmit="register(event)">

        <div class="d-flex justify-content-center">
            <h3>Registracija</h3>
        </div>

        <br>

        <!-- Ime -->
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-user"></i></span>
            </div>
            <input name="ime" type="text" class="form-control" id="ime" aria-describedby="imeHelp" placeholder="Ime">
        </div>

        <!-- Prezime -->
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-user"></i></span>
            </div>
            <input name="prezime" type="text" class="form-control" id="prezime" aria-describedby="prezimeHelp" placeholder="Prezime">
        </div>

        <!-- Profesija -->
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-briefcase"></i></span>
            </div>
            <input name="profesija" type="text" class="form-control" id="profesija" aria-describedby="profesijaHelp" placeholder="Profesija">
        </div>

        <!-- Email -->
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-envelope"></i></span>
            </div>
            <input name="email" type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Email">
        </div>

        <!-- Sifra -->
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-lock"></i></span>
            </div>
            <input name="password" type="password" class="form-control" id="password" placeholder="Šifra">
        </div>

        <br>

        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary">Register</button>
        </div>

        <div class="text-center mt-3">
            <p class="text-muted">Već imate profil? Prijavite se <a href="/login/auth">ovde.</a></p>
        </div>
    </form>
</div>

<!-- Page Loading -->
<div class="spinner-container d-none">
    <div class="spinner"></div>
</div>

<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
</html>