html,
body {
    height: 100%;
    background-color: #ffffff;
}


.navbar-brand img {
  width: 40px; /* adjust as necessary */
  height: 40px; /* adjust as necessary */
  border-radius: 35%;
}

.settings {
    background-color: rgb(255, 255, 255);
    padding: 5em;
    border-radius: 3%;
}

.invites {
    border-radius: 55%;
}

.avatar-image {
    width: 28px;
    height: 28px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 0.5em;
    padding-right: 0.1em;
    box-sizing: content-box;
  }

.card-body::-webkit-scrollbar {
    width: 7px;
}

.card-body::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.card-body::-webkit-scrollbar-thumb {
    background: #888;
}

.card-body::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.modal-body::-webkit-scrollbar {
    width: 7px;
}

.modal-body::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.modal-body::-webkit-scrollbar-thumb {
    background: #888;
}

.modal-body::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.list-group-item {
    border: none;
}
